
#spinny{
    position: relative;
    border-radius: 100%;
    padding: 16px;
    animation: rotate-animation 8s infinite linear;
}

@keyframes rotate-animation {
    from { transform: rotate(0); }
    to { transform: rotate(-360deg); }
  }                                                                                                                                                                                                                                                                                                                                                             

  #spinny span {
    position: absolute;
    transform-origin: top left;
  }