#spinny {
  position: relative;
  border-radius: 100%;
  padding: 4px;
 	animation: rotate-animation 8s infinite linear;
}

#spinny span {
  position: absolute;
  transform-origin: top left;
}

@keyframes rotate-animation {
  from { transform: rotate(0); }
  to { transform: rotate(-360deg); }
}

/* Misc. */
.container {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
	font-family: 'Helvetica', sans-serif;
  font-size: 24px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  background: #000;
  color: #fff;
  overflow: hidden;
}
